<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-status-heading" data-cy="StatusCreateUpdateHeading">Create or edit a Status</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            <option value="REUSSI">REUSSI</option>
            <option value="ECHEC">ECHEC</option>
            <option value="ABSENT">ABSENT</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_apprenant">Apprenant</label>
          <select class="form-control" id="field_apprenant" data-cy="apprenant" name="apprenant" formControlName="apprenant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="apprenantOption.id === editForm.get('apprenant')!.value?.id ? editForm.get('apprenant')!.value : apprenantOption"
              *ngFor="let apprenantOption of apprenantsCollection; trackBy: trackApprenantById"
            >
              {{ apprenantOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lyceeTechnique">Lycee Technique</label>
          <select
            class="form-control"
            id="field_lyceeTechnique"
            data-cy="lyceeTechnique"
            name="lyceeTechnique"
            formControlName="lyceeTechnique"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                lyceeTechniqueOption.id === editForm.get('lyceeTechnique')!.value?.id
                  ? editForm.get('lyceeTechnique')!.value
                  : lyceeTechniqueOption
              "
              *ngFor="let lyceeTechniqueOption of lyceeTechniquesSharedCollection; trackBy: trackLyceeTechniqueById"
            >
              {{ lyceeTechniqueOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
