<div>
  <h2 id="page-heading" data-cy="OrganeHeading">
    <span>Organes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-organe"
        [routerLink]="['/organe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Organe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="organes?.length === 0">
    <span>No organes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="organes && organes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Type</span></th>
          <th scope="col"><span>Fonctionnel</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"><span>Lycee Technique</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organe of organes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/organe', organe.id, 'view']">{{ organe.id }}</a>
          </td>
          <td>{{ organe.type }}</td>
          <td>{{ organe.fonctionnel }}</td>
          <td>{{ organe.description }}</td>
          <td>
            <div *ngIf="organe.lyceeTechnique">
              <a [routerLink]="['/lycee-technique', organe.lyceeTechnique?.id, 'view']">{{ organe.lyceeTechnique?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/organe', organe.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/organe', organe.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(organe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
