<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-probleme-heading" data-cy="ProblemeCreateUpdateHeading">Create or edit a Probleme</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nature">Nature</label>
          <select class="form-control" name="nature" formControlName="nature" id="field_nature" data-cy="nature">
            <option [ngValue]="null"></option>
            <option value="TECHNIQUE">TECHNIQUE</option>
            <option value="RH">RH</option>
            <option value="PEDAGOGIQUE">PEDAGOGIQUE</option>
            <option value="SOCIAUX">SOCIAUX</option>
            <option value="ADMINISTRATIF">ADMINISTRATIF</option>
            <option value="FINANCIER">FINANCIER</option>
            <option value="AUTRES">AUTRES</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_solution">Solution</label>
          <input type="text" class="form-control" name="solution" id="field_solution" data-cy="solution" formControlName="solution" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lyceeTechnique">Lycee Technique</label>
          <select
            class="form-control"
            id="field_lyceeTechnique"
            data-cy="lyceeTechnique"
            name="lyceeTechnique"
            formControlName="lyceeTechnique"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                lyceeTechniqueOption.id === editForm.get('lyceeTechnique')!.value?.id
                  ? editForm.get('lyceeTechnique')!.value
                  : lyceeTechniqueOption
              "
              *ngFor="let lyceeTechniqueOption of lyceeTechniquesSharedCollection; trackBy: trackLyceeTechniqueById"
            >
              {{ lyceeTechniqueOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
