<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="probleme">
      <h2 data-cy="problemeDetailsHeading"><span>Probleme</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ probleme.id }}</span>
        </dd>
        <dt><span>Nature</span></dt>
        <dd>
          <span>{{ probleme.nature }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ probleme.description }}</span>
        </dd>
        <dt><span>Solution</span></dt>
        <dd>
          <span>{{ probleme.solution }}</span>
        </dd>
        <dt><span>Lycee Technique</span></dt>
        <dd>
          <div *ngIf="probleme.lyceeTechnique">
            <a [routerLink]="['/lycee-technique', probleme.lyceeTechnique?.id, 'view']">{{ probleme.lyceeTechnique?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/probleme', probleme.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
