<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="status">
      <h2 data-cy="statusDetailsHeading"><span>Status</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ status.id }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ status.status }}</span>
        </dd>
        <dt><span>Apprenant</span></dt>
        <dd>
          <div *ngIf="status.apprenant">
            <a [routerLink]="['/apprenant', status.apprenant?.id, 'view']">{{ status.apprenant?.id }}</a>
          </div>
        </dd>
        <dt><span>Lycee Technique</span></dt>
        <dd>
          <div *ngIf="status.lyceeTechnique">
            <a [routerLink]="['/lycee-technique', status.lyceeTechnique?.id, 'view']">{{ status.lyceeTechnique?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/status', status.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
