<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="organe">
      <h2 data-cy="organeDetailsHeading"><span>Organe</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ organe.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ organe.type }}</span>
        </dd>
        <dt><span>Fonctionnel</span></dt>
        <dd>
          <span>{{ organe.fonctionnel }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ organe.description }}</span>
        </dd>
        <dt><span>Lycee Technique</span></dt>
        <dd>
          <div *ngIf="organe.lyceeTechnique">
            <a [routerLink]="['/lycee-technique', organe.lyceeTechnique?.id, 'view']">{{ organe.lyceeTechnique?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/organe', organe.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
