<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bon">
      <h2 data-cy="bonDetailsHeading"><span>Bon</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ bon.id }}</span>
        </dd>
        <dt><span>Type Bon</span></dt>
        <dd>
          <span>{{ bon.typeBon }}</span>
        </dd>
        <dt><span>Beneficiaire</span></dt>
        <dd>
          <span>{{ bon.beneficiaire }}</span>
        </dd>
        <dt><span>Fonction</span></dt>
        <dd>
          <span>{{ bon.fonction }}</span>
        </dd>
        <dt><span>Fournisseur</span></dt>
        <dd>
          <span>{{ bon.fournisseur }}</span>
        </dd>
        <dt><span>Numero Facture</span></dt>
        <dd>
          <span>{{ bon.numeroFacture }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ bon.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Materiel</span></dt>
        <dd>
          <div *ngIf="bon.materiel">
            <a [routerLink]="['/materiel', bon.materiel?.id, 'view']">{{ bon.materiel?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/bon', bon.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
